<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/feature1-wellness.png` | relURL }}" alt="wellness logo" width="100" height="100" />
        <h2 class="h2">Personalized Wellness Path <small class="d-none">🛡️</small></h2>
        <p>Just a few words about your situation. Unlock personalized meditations, exercises, and stress-relief
            routines.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature2-community.png` | relURL }}" alt="community logo" width="100" height="100" />
        <h2 class="h2">Community Support <small class="d-none">🚀</small></h2>
        <p>Find strength in shared stories. Join a community of support and healing.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature3-therapist.png` | relURL }}" alt="therapist logo" width="100" height="100" />
        <h2 class="h2">Therapist Connectivity <small class="d-none">📈</small></h2>
        <p>Immediate access to professional therapy. Find and book sessions with certified therapists easily through
            MindHarbor.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Schedule Integration <small class="d-none">🦉</small></h2>
        <p>Never miss a beat in your wellness journey. Automatically fit wellness activities into your busy calendar.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Trust & Safety <small class="d-none">✨</small></h2>
        <p>Content monitoring and rigorous therapist verification to maintain a secure, supportive community.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Progress Tracking <small class="d-none">🧰</small></h2>
        <p>Easily track and share your mental health progress with your therapist for tailored treatment adjustments.
        </p>
    </div>
</div>